In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
os.listdir()

['.ipynb_checkpoints',
 '.Rhistory',
 'adult.data.csv',
 'adult.data.prepared.csv',
 'adult.data.txt',
 'adult.test.prepared.csv',
 'adult.test.txt',
 'Colnames.txt',
 'DataCleaning.ipynb',
 'ex01_group38_scheu_R.ipynb',
 'ex2_marc.ipynb',
 'ex3.R',
 'ex3_logit.ipynb',
 'MachLearnExercise01.ipynb',
 'MachLearnExercise02.ipynb',
 'MachLearnExercises03.ipynb']

In [3]:
train = pd.read_csv('adult.data.prepared.csv')
train.head(10)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,higher_educ,lower_educ,is_male,gov_emp,private,self_emp,high_income
0,39,77516,13,2174,0,40,1,0,1,1,0,0,0
1,50,83311,13,0,0,13,1,0,1,0,0,1,0
2,38,215646,9,0,0,40,0,0,1,0,1,0,0
3,53,234721,7,0,0,40,0,1,1,0,1,0,0
4,28,338409,13,0,0,40,1,0,0,0,1,0,0
5,37,284582,14,0,0,40,1,0,0,0,1,0,0
6,49,160187,5,0,0,16,0,1,0,0,1,0,0
7,52,209642,9,0,0,45,0,0,1,0,0,1,1
8,31,45781,14,14084,0,50,1,0,0,0,1,0,1
9,42,159449,13,5178,0,40,1,0,1,0,1,0,1

In [4]:
X_train = np.array(train, dtype = 'float64')[:,:12]
X_train = np.pad(X_train,1,'constant',constant_values=(1))[1:X_train.shape[0]+1,0:X_train.shape[1]+1]
Y_train = np.array(train, dtype = 'int')[:,12:]
print(Y_train.shape)
X_train.shape

(30725, 1)

(30725, 13)

For the start of the algorithm set abitrarily all tetas to 1

In [5]:
teta = np.ones([1,X_train.shape[1]], dtype = 'float64')
xi = X_train[0,:]
xi = X_train[0:2,:]
teta.shape

(1, 13)

The formular for <b>h_teta(x) = exp(transpose(teta).dot(X))/ 1 - exp(transpose(teta).dot(X))</b><br>
This produces overflow for high transpose(teta).dot(X) therefore we transform the formular to <br>
<b>h_teta = 0.2 + 0.5 * tanh(transpose(teta).dot(X) / 2)</b><br>
https://en.wikipedia.org/wiki/Logistic_function
<br> <b>to do</b> dimensions of teta are wrongly defined

In [6]:
def get_h_teta(teta, xi):
    h_teta = np.transpose(0.5 + 0.5 * np.tanh((teta.dot(np.transpose(xi)) / 2)))
    h_teta = np.expand_dims(h_teta, axis=1)
    return(h_teta)

In [7]:
h_teta = get_h_teta(teta[0], X_train)
print(h_teta.shape)
(Y_train - h_teta.shape).shape
Y_train.shape

(30725, 1)

(30725, 1)

In [8]:
print(X_train.shape)
print((Y_train - h_teta).shape)

(30725, 13)
(30725, 1)

In [9]:
deriva = np.transpose(np.transpose(X_train).dot(Y_train - h_teta))
print(deriva)
print(deriva.shape)
teta.shape

[[ -2.30750000e+04  -8.44714000e+05  -4.39417150e+09  -2.22347000e+05
   -3.41534700e+06  -1.23479600e+06  -9.08430000e+05  -3.84300000e+03
   -3.59000000e+03  -1.42700000e+04  -3.01000000e+03  -1.77330000e+04
   -2.31100000e+03]]
(1, 13)

(1, 13)

In [10]:
const = 0.01
teta_neu = teta + const * deriva
print(teta.shape)
print(teta_neu.shape)
teta_neu

(1, 13)
(1, 13)

array([[ -2.29750000e+02,  -8.44614000e+03,  -4.39417140e+07,
         -2.22247000e+03,  -3.41524700e+04,  -1.23469600e+04,
         -9.08330000e+03,  -3.74300000e+01,  -3.49000000e+01,
         -1.41700000e+02,  -2.91000000e+01,  -1.76330000e+02,
         -2.21100000e+01]])

ToDO build for loop, see if teta values converge save final tetas.

In [ ]:
teta = np.ones([1,X_train.shape[1]], dtype = 'float64')
h_teta = get_h_teta(teta, X_train)
deriva = np.transpose(np.transpose(X_train).dot(Y_train - h_teta))
deriva

In [ ]:
teta = np.ones([1,X_train.shape[1]], dtype = 'float64')

for i in range(0,10):
    print(teta)
    h_teta = get_h_teta(teta, X_train)
    deriva = np.transpose(np.transpose(X_train).dot(Y_train - h_teta))
    teta = teta + const * deriva

[[ 1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.]]